<!DOCTYPE html>
<html ng-app="MyApp">

<head>
	<base href="/">
	<meta charset="utf-8">
	<title>Full</title>
    <link href="styles/bootstrap.css" rel="stylesheet">
    <link href="styles/bootstrap-theme.css" rel="stylesheet">
    <link href="styles/font-awesome.min.css" rel="stylesheet">
	  <link href="styles/animate.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
</head>


<body>
<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top" role="navigation" bs-navbar>
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <span>HR<strong>Management</strong></span>
    </a>
  </div>
  <ul class="nav navbar-nav pull-right" ng-if="!currentUser">
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
  </ul>

  <ul class="nav navbar-nav pull-right" ng-if="currentUser">
    <li class="navbar-text" ng-bind="currentUser.email"></li>
    <li><a href="/users-list">Users List</a></li>
    <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
  </ul>
</div>

<div ng-view></div>

<script src="vendor/angular.js"></script>
<script src="vendor/angular-strap.js"></script>
<script src="vendor/angular-strap.tpl.js"></script>
<script src="vendor/angular-messages.js"></script>
<script src="vendor/angular-resource.js"></script>
<script src="vendor/angular-route.js"></script>
<script src="vendor/angular-animate.js"></script>
<script src="vendor/moment.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="services/auth.js"></script>
<script type="text/javascript" src="services/users-list-factory.js"></script>
<script type="text/javascript" src="controllers/navbar.js"></script>
<script type="text/javascript" src="controllers/login.js"></script>
<script type="text/javascript" src="controllers/adduserList.js"></script>
<script type="text/javascript" src="controllers/userDetails.js"></script>

</body>
</html>