<div class="container">
   <div class="row">
   		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					Welcome to the App....
				</div>
			</div>
			<div class="panel-body" style="color:red;">
				<div class="">
					fferge gergergerg ergergerge gergerg
					<p>f f freferf  f ref e referferferferfer</p>

				</div>
			</div>

			<div class="panel-body">
              			score:10
            </div>

            <div class="panel-body">
              			score:11
            </div>

            <div class="panel-body">
              			score:12
              		</div>

             <div class="panel-body">
              			score:13
              		</div>

             <div class="panel-body">
              			score:14
              		</div>
		</div>
   </div>

</div>
