div .dashboard-fullwidth{
	width: 100%;
	height: 100%;
	background-color: #fff;
	color: #000;
}

.navbar{
	margin-bottom: 0px;
	background: #fff;
}
.dashboard-fullwidth .remove-padding{
	padding: 0px;
}
.dashboard-fullwidth .remove-margin{
	margin: 0px;
}

#content-container{
margin-top: 40px;
}

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
 .main-content .sidebar {display:block !important; clear: both; }
}
/*Content container*/
/*.switch-content {
    display: none;
}*/

.emp-btn-info{
	background-color: transparent;
	color: blue;
	border:none;
}

.emp-update-input{
	width: 100%;
	padding: 5px;
}
.table button{
  padding: 0px;
  margin: 0px;
  background-color: transparent;

}
.modal{
  color: silver;
}

.box-emp-list{
  border:1px solid silver;
  background-color: #fff;
/*  -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box; 
 box-sizing: border-box; */ 
   height: 175px;
  overflow: scroll;
  overflow-x:hidden;

}
.remove-padding{
  padding: 0px;
}
.remove-margin{
  margin: 0px;
}
.emp-drad{
    padding: 0px;
    margin: 0px;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop into it once it's empty
 */
.multiDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.multiDemo ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

.multiDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
}

/**
 * Show selected elements in green
 */
.multiDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

