<!DOCTYPE html>
<html ng-app="MyApp">

<head>
	<base href="/">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">	<title>HR Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="styles/bootstrap-theme.css" rel="stylesheet">
    <link href="styles/font-awesome.min.css" rel="stylesheet">
	  <link href="styles/animate.css" rel="stylesheet">
    
    <link href="styles/style.css" rel="stylesheet">
</head>


<body>
<div class="row remove-padding">
  
</div>

<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-fixed-top" role="navigation" bs-navbar>
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <span>HR<strong>Management</strong></span>
    </a>
  </div>
  <ul class="nav navbar-nav pull-right" ng-if="!currentUser">
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
</div>

<div ng-view></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="vendor/angular.js"></script>

<script src="vendor/angular-messages.js"></script>
<script src="vendor/angular-resource.js"></script>
<script src="vendor/angular-route.js"></script>
<script src="vendor/angular-animate.js"></script>
<script src="vendor/angular-drag-and-drop-lists.js"></script>


<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="services/auth.js"></script>
<script type="text/javascript" src="services/users-list-factory.js"></script>
<script type="text/javascript" src="services/project-list-factory.js"></script>
<script type="text/javascript" src="controllers/navbar.js"></script>
<script type="text/javascript" src="controllers/login.js"></script>
<script type="text/javascript" src="controllers/adduserList.js"></script>
<script type="text/javascript" src="controllers/userDetails.js"></script>
<script type="text/javascript" src="controllers/projectDetails.js"></script>

</body>
</html>