  <div class="container">
     <li><a href="/users-list">Users List</a></li>

     <li><a href="/logout" ng-click="logout()">Logout</a></li>
  <form class="form" ng-submit="adduser()" action="/add-employee" method="POST">
    <input type="text" placeholder="First Name" name="first_name">
    <input type="text" placeholder="Last Name" name="last_name">
    <input type="email" placeholder="Enter Email" name="email">
      <input type="text" placeholder="Phone Number" name="phone_number">
      <input type="text" placeholder="Role" name="user_role">
      <input type="text" placeholder="Project Name" name="project_name"> 
      <button type="submit">Add User</button>
    </form>
  </div>









 