<div class="container">
   <div class="row">
   		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					Welcome to the App....
				</div>
			</div>
			<div class="panel-body" style="color:red;">
				<div class="">
					fferge gergergerg ergergerge gergerg
					<p>f f freferf  f ref e referferferferfer</p>

				</div>
			</div>

			<div class="panel-body">
              			score:10
            </div>

            <div class="panel-body">
              			score:11
            </div>

            <div class="panel-body">
              			score:12
              		</div>

             <div class="panel-body">
              			score:13
              		</div>

             <div class="panel-body">
              			score:14
              		</div>
		</div>
   </div>

</div>

<div class="">
  <button class="pull-right" style="width:60px;height:60px;border-radius:50%;background:#000;bottom:0;" type="button" onclick=""></button>
</div>

<script>
   /* Replace 'APP_ID' with your app ID */
   window.intercomSettings = {
    app_id: 'jtpn25jn'
};
   /* Replace 'APP_ID' with your app ID */
   (function(){
    var w=window;
    var ic=w.Intercom;
    if(typeof ic==="function") {
      ic('reattach_activator');
      ic('update',intercomSettings);
      }else{
        var    d=document;
        var i=function(){
          i.c(arguments)
          };
        i.q=[];
        i.c=function(args)   {
        i.q.push(args)};
        w.Intercom=i;
        function l(){
          var s=d.createElement('script');
        s.type='text/javascript';
        s.async=true;
        s.src='https://widget.intercom.io/widget/jtpn25jn';
        var x=d.getElementsByTagName('script')   [0];
        x.parentNode.insertBefore(s,x);
        }
        if(w.attachEvent)   {w.attachEvent('onload',l);
        }else{
          w.addEventListener('load',l,false);
        }
      }
    })()
</script> 












