  <div class="login-img3-body">
    <div class="container ">
    <div class="col-md-4 col-md-offset-4">
      
    </div>
      <form class="login-form" method="post" ng-submit="login()" name="loginForm" action="/hr-signin">        
        <div class="login-wrap">
        <h2 class="text-center">Log in</h2>
             <div class="form-group has-feedback">
              <input class="form-control input-sm" type="text" name="email" ng-model="email" placeholder="Email" required autofocus>
              <span class="ion-at form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
              <input class="form-control input-sm" type="password" name="password" ng-model="password" placeholder="Password" required>
              <span class="ion-key form-control-feedback"></span>
            </div>


            <button ng-disabled="loginForm.$invalid" class="btn btn-primary btn-sm btn-block" type="submit">Login</button>

        </div>
      </form>

    </div>
  </div>