<div class="container" style="margin-top:100px;">

  <form class="form" action="/add-employee" method="POST">
  	<input type="text" placeholder="Employee ID" name="emp_id">
    <input type="text" placeholder="First Name" name="first_name">
    <input type="text" placeholder="Last Name" name="last_name">
    <input type="email" placeholder="Enter Email" name="email">
      <input type="text" placeholder="Phone Number" name="phone_number">
      <button type="submit">Add User</button>
    </form>

  </div>