<!--   <div class="container">
     <li><a href="/users-list">Users List</a></li>

     <li><a href="/logout" ng-click="logout()">Logout</a></li>

  <form class="form" ng-submit="adduser()" action="/add-employee" method="POST">
    <input type="text" placeholder="First Name" name="first_name">
    <input type="text" placeholder="Last Name" name="last_name">
    <input type="email" placeholder="Enter Email" name="email">
      <input type="text" placeholder="Phone Number" name="phone_number">
      <input type="text" placeholder="Role" name="user_role">
      <input type="text" placeholder="Project Name" name="project_name"> 
      <button type="submit">Add User</button>
    </form>

  </div> -->

<div class="dashboard-fullwidth">
        <div class="row main-content remove-padding remove-margin">

         <div class="sidebar col-sm-12 col-md-2" id="menu">
         <ul class="nav nav-sidebar">
            <li class="active"><a href="#omniwyse" rel="omniwyse">Employees <span class="sr-only">(current)</span> </a></li>
            <li><a href="#projects" rel="projects">Projects</a></li>
            <li><a href="#roles" rel="roles">Roles</a></li>
            <li><a href="/logout" rel="logout">Logout</a></li>
            <!-- <li><a href="#gentex" rel="gentex">Gentex</a></li>
            <li><a href="#cbta" rel="cbta">Cbta</a></li> -->
          </ul>
         </div>

         <div class="clearfix">
           
         </div>

       <div id="content-container">
          <div id="omniwyse" class="switch-content active">
          <div class="col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3">
              <h1 class="page-header">Employees <span>
                <!-- <a type="button" href="/addEmployee" class="btn btn-default pull-right">Add</a>-->
                <button data-toggle="modal" data-target="#addEmployee" type="button" class="btn pull-right">Add</button>
              </span>
            </h1>
 <!-- Add employee  Modal -->
  <div class="modal fade" id="addEmployee" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Employee</h4>
        </div>
        <div class="modal-body">
            <form class="form" action="/add-employee" method="POST">

              <div class="input-group emp-update-input">
                  <input type="text" class="form-control" placeholder="Employee Id" name="emp_id">
              </div>
              <div class="input-group emp-update-input">
                  <input type="text" class="form-control" placeholder="First Name" name="first_name">
              </div>
              <div class="input-group emp-update-input">
                  <input type="text" class="form-control" placeholder="Last Name" name="last_name">
              </div>
              <div class="input-group emp-update-input">
                  <input type="text" class="form-control" placeholder="Email" name="email">
              </div>
              <div class="input-group emp-update-input">
                  <input type="text" class="form-control" placeholder="Phone Number" name="phone_number">
              </div>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-default">Add</button>
            </form>
        </div>
        <!-- <div class="modal-footer">
          
        </div> -->
      </div>
  
      
    </div>
  </div>
<!-- Modal -->



 <!-- emp info  Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{userList.first_name}} {{userList.last_name}}</h4>
        </div>
        <div class="modal-body">
          <p>Employee Id: {{userList.emp_id}}</p>
          <p>Employee Name: {{userList.first_name}} {{userList.last_name}}</p>
          <p>Employee Email:{{userList.email}}</p>
          <p>Employee PhoneNumber: {{userList.phone_number}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
      
    </div>
  </div>
<!-- Modal -->

 <!-- Edit employee  Modal -->
  <div class="modal fade" id="updateEmp" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{userList.first_name}} {{userList.last_name}}</h4>
        </div>
        <div class="modal-body">
            <form class="form" action="/update-employee" method="POST">

              <div class="input-group emp-update-input">
                  Employee Id: <input type="text" class="form-control" name="emp_id" value="{{userList.emp_id}}">
              </div>
              <div class="input-group emp-update-input">
                  Employee First name:<input type="text" class="form-control" name="first_name" value="{{userList.first_name}}">
              </div>
              <div class="input-group emp-update-input">
                  Employee Last Name: <input type="text" class="form-control" name="last_name" value="{{userList.last_name}}">
              </div>
              <div class="input-group emp-update-input">
                  Employee Email: <input type="text" class="form-control" name="email" value="{{userList.email}}">
              </div>
              <div class="input-group emp-update-input">
                  Employee Number: <input type="text" class="form-control" name="phone_number" value="{{userList.phone_number}}">
              </div>

               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-default">Update</button>

            </form>
        </div>
        <!-- <div class="modal-footer">
                 </div> -->
      </div>
  
      
    </div>
  </div>
<!-- Modal -->





             <table class="table  table-bordered table-hover">
      <thead>
        <tr>
          <th>Emp ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in usersList">
          <td>{{user.emp_id}}</td>

          <td><button  ng-click="setUsername(user.emp_id)" data-toggle="modal" data-target="#myModal" type="button" class="btn emp-btn-info">{{user.first_name}} {{user.last_name}}</button></td>
          <td>{{user.email}}</td>
          <td>{{user.phone_number}}</td>
          <td><button  ng-click="setUsername(user.emp_id)" data-toggle="modal" data-target="#updateEmp" type="button" class="btn">Edit</button></td>
        </tr>
      </tbody>
    </table>
          </div>


         </div> 


<div id="projects" class="switch-content" ng-controller="ProjectDetailCtrl">
          <div class="col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3">
              <h1 class="page-header">Projects <span>
                <!-- <a type="button" href="/addEmployee" class="btn btn-default pull-right">Add</a>-->
                <button data-toggle="modal" data-target="#addProject" type="button" class="btn pull-right">Add</button>
              </span>
            </h1>
<!-- Add project  Modal -->
  <div class="modal fade" id="addProject" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Project</h4>
        </div>
        <div class="modal-body">
            <form class="form" action="/add-project" method="POST">

              <div class="input-group emp-update-input">
                  <input type="text" class="form-control" placeholder="Project Name" name="project_name">
              </div>  
              <div class="input-group emp-update-input">
                  <input type="date" class="form-control" placeholder="Start Date" name="start_date">
              </div>
              <div class="input-group emp-update-input">
                  <input type="date" class="form-control" placeholder="End Date" name="end_date">
              </div>
              <div class="input-group emp-update-input">
                  <input type="text" class="form-control" placeholder="Client Name" name="client_name">
              </div>


                <div class="col-md-12 remove-padding" ng-controller="MultiDemoController">
                
<div class="multiDemo row remove-padding remove-margin">

    <div  class="row">
      <div class="col-md-6">
        <h5>Total Employess</h5>
      </div>
      <div class="col-md-6">
        <h5>Selected Employees</h5>
      </div>
    </div>
    
    <div class="col-md-12">
        <div class="row">
            <div ng-repeat="list in models" class="col-md-6 box-emp-list">
                <div class="panel panel-info">

                    <!-- <div class="panel-heading">
                        <h3 class="panel-title">{{list.listName}}</h3>
                    </div> -->
                    <div class="panel-body">
                        
                      <ul dnd-list dnd-drop="onDrop(list, item, index)">
                      <li ng-repeat="item in list.items"
                          dnd-draggable="getSelectedItemsIncluding(list, item)"
                          dnd-dragstart="onDragstart(list, event)"
                          dnd-moved="onMoved(list)"
                          dnd-dragend="list.dragging = false"
                          dnd-selected="item.selected = !item.selected"
                          ng-class="{'selected': item.selected}"
                          ng-hide="list.dragging && item.selected"
                          >
                          {{item.first_name}}
                      </li>
                      
                      </ul>

                    </div>
                </div>
            </div>

            <div ng-repeat="list in modelsd" class="col-md-6 box-emp-list">
                <div class="panel panel-info">

                    <!-- <div class="panel-heading">
                        <h3 class="panel-title">{{list.listName}}</h3>
                    </div> -->
                    <div class="panel-body">
                        
                      <ul dnd-list dnd-drop="onDrop(list, item, index)">
                      <li ng-repeat="item in list.items"
                          dnd-draggable="getSelectedItemsIncluding(list, item)"
                          dnd-dragstart="onDragstart(list, event)"
                          dnd-moved="onMoved(list)"
                          dnd-dragend="list.dragging = false"
                          dnd-selected="item.selected = !item.selected"
                          ng-class="{'selected': item.selected}"
                          ng-hide="list.dragging && item.selected"
                          >
                          {{item.first_name}}
                      </li>
                      
                      </ul>

                    </div>
                </div>
            </div>





        </div>


    </div>

</div>




                <!-- <div class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:true}" ng-hide="!list1.title">{{list1.title}}</div>
 -->
                <!--   <ul class="emp-drad" ng-repeat="user in usersList"> -->
                      <!-- <li class="btn btn-info btn-sm btn-block" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{animate:true}" ng-model="list1" ng-hide="!list1.title">{{list1.title}}</li> -->
                      <!-- <li class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:true}" ng-hide="!list1.title">{{user.first_name}} {{user.last_name}}</li>-->              
                  <!-- </ul> -->
                </div>

                <!-- <div class="col-md-6 box-emp-list remove-padding">
                    <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:175px;'>
                        <div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="list2" jqyoui-draggable ng-hide="!list2.title">{{list2.title}}</div>
                    </div>
                </div> -->

              
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-default">Add</button>
            </form>
        </div>
        <!-- <div class="modal-footer">
          
        </div> -->
      </div>
      
    </div>
  </div>
<!-- Modal -->

 <!-- project info  Modal -->
  <div class="modal fade" id="projectInfo" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{projectList.project_name}}</h4>
        </div>
        <div class="modal-body">
          <p>Project Name: <span style="color:blue;">{{projectList.project_name}}</span></p>
          <p>Project Start Date: <span style="color:blue;">{{projectList.start_date}}</span></p>
          <p>Project End Date: <span style="color:blue;"> {{projectList.end_date}}</span></p>
          <p>Project Client Name: <span style="color:blue;"> {{projectList.client_name}}</span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
      
    </div>
  </div>
<!-- Modal -->

<!-- Edit project  Modal -->
  <div class="modal fade" id="updateProject" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{projectList.project_name}}</h4>
        </div>
        <div class="modal-body">
            <form class="form" action="/update-project" method="POST">

              <div class="input-group emp-update-input">
                  Project Name: <input type="text" class="form-control" name="project_name" value="{{projectList.project_name}}">
              </div>
              <div class="input-group emp-update-input">
                  Project Start Date: <input type="text" class="form-control" name="start_date" value="{{projectList.start_date}}">
              </div>
              <div class="input-group emp-update-input">
                  Project End Date:<input type="text" class="form-control" name="end_date" value="{{projectList.end_date}}">
              </div>
              <div class="input-group emp-update-input">
                  Project Client Name:<input type="text" class="form-control" name="client_name" value="{{projectList.client_name}}">
              </div>

               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-default">Update</button>

            </form>
        </div>
        <!-- <div class="modal-footer">
                 </div> -->
      </div>
  
      
    </div>
  </div>
<!-- Modal -->




<table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Client Name</th>
          <th>Employee Count</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="project in projectsList">
          <td><button  ng-click="setProjectname(project.project_name,project.start_date,project.end_date,project.client_name)" data-toggle="modal" data-target="#projectInfo" type="button" class="btn emp-btn-info">{{project.project_name}}</button></td>
          <td>{{project.start_date}}</td>
          <td>{{project.end_date}}</td>
          <td>{{project.client_name}}</td>
          <td>{{project.list.items[1]}}</td>
          <td><button  ng-click="setProjectname(project.project_name,project.start_date,project.end_date,project.client_name)" data-toggle="modal" data-target="#updateProject" type="button" class="btn">Edit</button></td>
        </tr>
      </tbody>
    </table>




          </div>
         </div> 

      </div><!--end content container-->
          
         
    </div>
</div>

    <script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    $("#menu li").click(function() {
        $("#menu li").removeClass('active');
 
       $(this).addClass("active");
 
        $(".switch-content").hide();
 
        var selected_tab = $(this).find("a").attr("href");
 
        $(selected_tab).fadeIn();
 
        return false;
    });
});

    </script>







 