<div class="container">
 <div class="row">
 	<div class="users-content"> 
 		<table class="table table-striped">
 			<thead>
 				<tr>
 					<th>First Name</th>
 					<th>Last Name</th>
 					<th>Email</th>
 					<th>Phone Number</th>
 					<th>Role</th>
 					<th>Project Name</th>
 				</tr>
 			</thead>
 			<tbody>
 				<tr ng-repeat="user in usersList">
 					
 					<td>{{user.first_name}}</td>
 					<td>{{user.last_name}}</td>
 					<td>{{user.email}}</td>
 					<td>{{user.phone_number}}</td>
 					<td>{{user.user_role}}</td>
 					<td>{{user.project_name}}</td>
 				</tr>
 			</tbody>
 		</table>
 	</div>
 </div>
</div>